.chat-container {
  display: flex;
  flex-direction: column;
  height: 400px;
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}

.chat-message {
  margin-bottom: 10px;
}

.sender {
  font-weight: bold;
  color: #3f51b5;
}

.message {
  font-weight: bold;
  color: brown;
}

.message-input {
  display: flex;
  align-items: center;
}

.input-field {
  flex-grow: 1;
  margin-right: 10px;
}
